.formbox {
    max-width: 600px;
    margin: 20px auto;
    border-radius: 30px;
    overflow: hidden;
    border: 10px solid wheat;
    text-align: center;
    letter-spacing: 10px;
    background-color: rgb(241, 169, 135);
}

.form-header {
    font-size: 40px;
    color: azure;
}

h1 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.form-header-title {
    font-size: 24px;
    margin: 0;
}

.form-group {
    margin-bottom: 15px;
    
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    line-height: 1.5;
    background: gray;
    border-top: 2px solid wheat;
    border-bottom: 2px solid wheat;
    color: white;
    resize: none;
    outline: none;
    
}

.submit-btn {
    color: gray;
    background: white;
    border-radius: 10px;
    
}
.p{
    margin-bottom: 20px;}

.move{
    margin-left: 204px;

}
.move2{
    margin-left: 328px;

}
.move3{margin-left:0px;

}
button{
    border-radius: 30px
}